[Unit]
Description=Log Analyzer Service
After=network.target
Documentation=~/bash-projects/log-analyzer/README.md

[Service]
ExecStart=/usr/local/bin/analyzer.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
