[Unit]
Description=Log Analyzer Service
After=network.target
Documentation=file:///usr/share/doc/log-analyzer/README.md

[Service]
ExecStart=/opt/log-analyzer/analyzer.sh
Type=oneshot
User=hms
WorkingDirectory=/opt/log-analyzer

[Install]
WantedBy=multi-user.target
